/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
html{
    font-size: 10px;
}
.container{
    width:100%;
    max-width: 127rem;
    margin: 0 auto;
    padding: 0 2.7rem;
}
section{
    padding: 0 2.7rem;
}
